<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center ">
        <!-- <h1 class="logo mr-auto"><a href="index.html">BizLand<span>.</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto"><img src="assets/img/logo-white.svg" alt="" /></a>

        <div style="position:fixed; right: 80px">

            <nav class="nav-menu d-none d-lg-block">

                <ul>
                    <li><a href="#" routerLink="indexfront" routerLinkActive="active">Home</a></li>
                    <li><a href="#" routerLink="aboutUs" routerLinkActive="active">About Us</a></li>
                    <li><a href="#" routerLink="contactUs" routerLinkActive="active">Contact</a></li>
                    <li><a href="#" routerLink="drivingWithAssar" routerLinkActive="active">Drive with assar</a></li>
                    <li><a href="#" routerLink="franchise" routerLinkActive="active">Franchise</a></li>
                    <span>
                        <a href="#" class="bi bi-person-circle" data-toggle="modal" data-target="#exampleModal"><i
                                class=""></i>


                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>

                        </a>
                        <!-- <i class="bi bi-person-circle"></i> -->
                    </span>



                </ul>
            </nav>
        </div>
        <!-- .nav-menu -->
    </div>

</header>