<!-- ======= Footer ======= -->

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row bor_bottom_w">
                <div class="col-lg-4 footer-links policy_sec">
                    <ul>
                        <li><a href="#">CSR Policy</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Notices</a></li>
                        <li><a href="#">Become a franchise</a></li>
                        <li><a href="#">Business Solutions</a></li>
                        <li><a href="#">Transport Solutions</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 footer-links">
                    <h4>Keep in Touch</h4>
                    <ul>
                        <li><a href="#">Info@assarcab.com</a></li>
                        <li><a href="#">Support@assarcab.com</a></li>
                    </ul>
                    <span class="static_link">
                        <a href="#">Terms and conditions</a>
                        <a href="#">Privacy Policy</a>
                    </span>
                </div>
                <div class="col-lg-4 footer-links justify-content-center">
                    <h4>Our Telephones</h4>
                    <ul>
                        <li>
                            <a href="#"> <img src="assets/img/phone-white.svg" class="img-fluid pr-2" /> +91
                                910-910-1851</a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/img/telephone-white.svg" class="img-fluid pr-2" />
                                0731-3564526</a>
                        </li>
                    </ul>
                    <span class="store_icon">
                        <a href="#"><img src="assets/img/apple-store.png" class="img-fluid" /></a>
                        <a href="#"><img src="assets/img/google-store.png" class="img-fluid" /></a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <!-- <span><img src="assets/img/footer-logo.svg" class="img-fluid" /></span> -->

                    <div class="card" style="width: 10rem; position:static;">
                        <!-- <img class="card-img-top" src="assets/img/footer-logo.svg" alt="Card image cap"> -->
                        <!-- <img src="assets/img/footer-logo.svg" class="img-fluid" alt="Responsive image"> -->

                        <img src="assets/img/footer-logo.svg" alt="Nature" class="responsive">
                    </div>

                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                    <!DOCTYPE html>
                    <html>

                    <head>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    </head>

                    <body>












                        <!-- Add font awesome icons -->
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>

                        <!-- <a class="fa fa-facebook" style="background-color: #3b5998;" href="#!" role="button"><i -->
                        <!-- class="fab fa-facebook-f"></i>F</a> -->

                    </body>

                    </html>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-3 text-center">
        <div class="copyright">
            &copy; Copyright 2020 Assar Vehicle Rental Services Pvt. Ltd. All rights reserved Site
        </div>
    </div>
</footer>
<!-- End Footer -->