<!-- End Header -->

<main id="main">
    <!-- ======= Hero Section ======= -->
    <section>
    </section>

    <section class="bill_invoice_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto pb-5">
                    <div class="item bg_back_bill">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid d-flex justify-content-center mx-auto"
                                src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="avilable_tag">
                                <span class="avilable_top_right">
                                    <img src="assets/img/bill-pay.svg">
                                    <h6>Available</h6>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="total_invoice_bill">
                <div class="hatchback_car vicle_detail_side">
                    <img src="assets/img/choose_1.png" alt="" class="img-fluid">
                    <h6>Hatchback-Car</h6>
                    <h5 class="text_verti">Segment</h5>
                </div>
                <div class="row">
                    <div class="col-lg-9 mx-auto pt-4 pb-4">

                        <div class="invoice_total">
                            <span class="text-center bill_top_h">
                                <h4>Car Name</h4>
                                <h6>Maruti Suzuki Alto K10</h6>
                            </span>
                            <span class="text-center indore_h">
                                <h3>Indore</h3>
                            </span>
                            <span class="indore_bopal d-flex align-items-center justify-content-between">
                                <h5>Jail road indore</h5>
                                <h6></h6>
                                <h5>Bhopal railway</h5>
                            </span>

                            <span class="time_date d-flex align-items-center justify-content-between">
                                <h5>12/10/2020 at 6 :30 pm</h5>
                                <h6></h6>
                                <h5>15/10/2020 at 7 :30 pm</h5>
                            </span>

                            <span class="detail_customer d-flex justify-content-between align-items-center text-center">
                                <span>
                                    <h4>Name</h4>
                                    <h6>Manish Chohan</h6>
                                </span>
                                <span>
                                    <h4>Email ID</h4>
                                    <h6>Manishchohan@100</h6>
                                </span>
                                <span>
                                    <h4>Mobile No.</h4>
                                    <h6>9595959595</h6>
                                </span>
                            </span>
                            <div class="pay_total">
                                <span class="d-flex align-items-center justify-content-between">
                                    <span>
                                        <h4>Pay</h4>
                                        <h5>Amount</h5>
                                        <h5>G S T</h5>
                                        <h5>Delivery</h5>
                                        <h5>Discount</h5>
                                    </span>

                                    <span>
                                        <h5>0.00</h5>
                                        <h5>0.00</h5>
                                        <h5>0.00</h5>
                                        <h5>0.00</h5>
                                    </span>
                                </span>
                                <span class="total_a d-flex justify-content-end align-items-center">
                                    <h5>Total Amount</h5>
                                    <h6></h6>
                                    <h5>0.00</h5>
                                </span>
                                <span
                                    class="check_signup payment_process d-flex justify-content-between align-items-center">
                                    <span>
                                        <div class="form-group mb-0">
                                            <input type="checkbox" id="html">
                                            <label for="html" class="mb-0">I agree with the terms and conditions</label>
                                        </div>
                                    </span>
                                    <span>
                                        <button class="btn btn-primary payment_pro" type="submit">Proceed to
                                            Payment</button>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>