<div class="banner-breadcum section">
    <div class="row">
        <div class="breadcrumb-image"
            style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
            <div class="container text-center">
                <h1>Contact Us</h1>
                <div class="breadcrumbs_path">
                    <a href="#">Contact Us</a>     Home
                </div>
            </div>
        </div>
    </div>
</div>


<form>
    <!-- [formGroup]="contactUsForm" (ngSubmit)="dataSubmit()" -->

    <div class="contact_pages">

        <div class="container">

            <h2>Get in Touch With Us</h2>

            <p>We believe in the power of personal connections, We’ve Ready to lead you into the future of vehicle
                rental
                industry.</p>

            <div class="row">

                <div class="col-md-5 col-sm-5">

                    <div class="contact01">

                        <h4><span>Outlet 1</span> jail Road, Indore </h4>

                        <h4><span>Outlet 2</span> Near BCM Heights, Behind Mangal city mall, Vijay Nagar, Indore </h4>

                        <h4><span>Outlet 3</span> Near Jawahar Marg, Indore </h4>

                        <h4><span>E-Mail</span> Info@assarvehicle.com </h4>

                        <h4><span>Phone No.</span> +91 9109999666 </h4>

                        <h4><span>Mobile No.</span> 0731 4994051</h4>

                    </div>
                </div>




                <div class="col-md-7 col-sm-7">


                    <div class="contact">



                        <div role="form" class="wpcf7" id="wpcf7-f77-p64-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/contactus/#wpcf7-f77-p64-o1" method="post" class="wpcf7-form"
                                novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="77">
                                    <input type="hidden" name="_wpcf7_version" value="5.1.1">
                                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f77-p64-o1">
                                    <input type="hidden" name="_wpcf7_container_post" value="64">
                                    <input type="hidden" name="g-recaptcha-response" value="">
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group" style="display:none;"><label for="firstName"
                                            class="col-sm-3 control-label"><i class="fa fa-user"></i> Subject</label>
                                        <div class="col-sm-9">
                                            <div class="col-sm-4"><span
                                                    class="wpcf7-form-control-wrap your-subject"><input type="text"
                                                        name="your-subject" value="Contact Us Form" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                        aria-required="true" aria-invalid="false"></span></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6"><span
                                                class="wpcf7-form-control-wrap your-name"><input type="text"
                                                    name="your-name" value="" size="40"
                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                    aria-required="true" aria-invalid="false" placeholder="Name*"
                                                    name="username" ngModel required></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6"><span
                                                class="wpcf7-form-control-wrap your-email"><input type="email"
                                                    name="your-email" value="" size="40"
                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                    aria-required="true" aria-invalid="false" placeholder="Email*"
                                                    name="email" ngModel required email></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12"><span
                                                class="wpcf7-form-control-wrap tel-250"><input type="tel" name="tel-250"
                                                    value="" size="40" maxlength="10" minlength="10"
                                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="Contact No."></span></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12"><span
                                                class="wpcf7-form-control-wrap your-message"><textarea
                                                    name="your-message" cols="40" rows="3"
                                                    class="wpcf7-form-control wpcf7-textarea form-control in_box"
                                                    aria-invalid="false"
                                                    placeholder="Enter your message here.."></textarea></span></div>
                                    </div>
                                    <p><input type="submit" value="Send"
                                            class="wpcf7-form-control wpcf7-submit button_form btn-block"><span
                                            class="ajax-loader"></span></p>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="map_box">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58884.418865431835!2d75.83809045177833!3d22.71797398414438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcad1b410ddb%3A0x96ec4da356240f4!2sIndore%2C+Madhya+Pradesh!5e0!3m2!1sen!2sin!4v1520949020367"
                width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen=""></iframe>

        </div>

    </div>
</form>