.breadcrumb-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 110px;
    position: relative;
    width:100%;
}
.breadcrumb-image::before {
    background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.breadcrumb-image h1 {
    color: #ffffff;
    font-size: 33px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
    margin-top: 50px;
}
.breadcrumbs_path {
    color: #fff;
    margin-top: 8px;
    position: relative;
    z-index: 9;
}
.breadcrumbs_path > a {
    color: #fff;
    transition: all 0.3s ease 0s;
}


.contact_pages h2 {
    font-weight: 700;
    font-size: 35px;
    margin-top: 84px
}


h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 700;
    margin: 0;
    text-rendering: optimizeLegibility;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.contact_pages p {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 83px;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    /* margin-top: 100px; */

}

body {
    
    color: #333;
    
}

.contact01 h4 span {
    color: #8C0145;
}
.contact01 span {
    float: left;
    padding-right: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact01 h4 {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px !important;
    float: left;
    width: 100%;
}
.h4, h4 {
    font-size: 18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 700;
    margin: 0;
    text-rendering: optimizeLegibility;
}
user agent stylesheet
h4 {
    font-weight: bold;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 100px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body, button, input, select, textarea {
    color: #1a1a1a;
    font-family: Merriweather, Georgia, serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
    margin-bottom: 12px
}


.contact .button_form.btn-block {
    background: #0D0A87;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    padding: 14px 25px;
    text-decoration: none;
    width: 260px;
    border: none;
    margin-bottom: 12px;
}

