<div>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




    <div class="banner-breadcum section">
        <div class="row">
            <div class="breadcrumb-image"
                style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
                <div class="containe text-center">
                    <h1>About us</h1>
                    <div class="breadcrumbs_path">
                        <a href="#">About</a>     Home
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div>
        <h1>Are You Ready?</h1>

    </div>






    <div class="car">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>We, Assar Vehicle, situated at Indore, Madhya Pradesh, have a profound understanding of our
                        consumers
                        travel
                        needs and preferences. We aim to offer individuals as well as corporate a wide range of cars on
                        hire. We
                        have
                        well maintained & luxurious cars which help to make your travel comfortable and pleasing. We are
                        passionate &
                        professional at the same time which help us deliver outstanding services to our clients. Get in
                        touch
                        with us to
                        get the best travel solution.<br>
                        <br>

                        We save you the cost and hassle of owning & maintaining a car while giving you all the good
                        arts:<br>
                        <br>

                        Convenience, Mobility and Independence.
                    </p>
                </div>

                <div class="col-lg-6">

                    <img src="../assets/innova.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

        </div>

    </div>


    <!-- <div class="our_miss_visi">
    

    <div class="container">
        
        <div class="row">
            <div class="col-6">Mission
                <h4>“We are not entitled to our success, we should earn it, each day”. </h4>
                
                <p><i class="fa fa-circle"></i> To be the best transportation service provider in the India, to exceed
                    our
                    customers’ expectations for service, quality and value, to provide our employees with a suitable
                    place
                    to work and to serve our communities as a committed corporate citizen.</p>
                    

                    <p><i class="fa fa-circle"></i>
                        To be competitive with high quality services, exceeding customer expectations by providing
                    customized transport solutions.
                    
                    

                </p>
                
                
                <p><i class="fa fa-circle"></i>
                    Treat employees and customers like family and never compromising our commitment to superior customer
                    service. Although it is our goal to be the best and not necessarily the biggest or the most
                    profitable, our success at satisfying customers and motivating employees will bring growth and
                    long-term profitability.
                    
                </p>

                <p><i class="fa fa-circle"></i>
                    We will strive to earn our customer’s loyalty by working to deliver more than promised, being honest
                    and fair and “going the extra mile” to provide exceptional personalized service that creates a
                    pleasing business experience.

                </p>
                

                <p><i class="fa fa-circle"></i>
                    
                    We will consistently deliver a quality product, friendly service and excellent value that make
                    customers confident.
                </p>
                
                
                
                
                
                
            </div>
            <div class="col-6">Vision
                <h4>“We believe in the power of personal connections”. </h4>
                
                <p><i class="fa fa-circle"></i>
                    Our vision is to be the premier and preferred rental company on Indian Vehicle rental market and to
                    offer service beyond customer satisfaction and demand by focusing on customers, our people, service,
                    quality, growth, innovation and efficiency.
                    
                </p>
                
                <p><i class="fa fa-circle"></i>
                    Our vision is to enhance our leadership stature. Which differentiate us from our competitors and
                    makes cause of keeping the vehicles economically viable and socially acceptable by every Indian. We
                    will be a growth-oriented Vehicle rental company by efficiently serving value conscious customers
                    for all their Vehicle rental needs.
                </p>

                <h4>
                    “To be the most preferred transport solution provider in the regions we operate”.
                </h4>
                
                
            </div>
        </div>
    </div>
</div> -->




    <!-- <div class="sum_off">

    <div class="container">
        <div>
            
            
            <div class="col-md-6">
                
                <h2>#VocalForLocal<span>#atmanirbhar</span></h2>
                
            </div>
        </div>
        
        <div class="col-md-6">
            
            <h3>#atmanirbhar</h3>
            <p>The main objective of this sector is to develop and promote tourism, maintain competitiveness of
                India as
                tourist destination and improve and expand existing tourism products to ensure employment generation
                and
                economic growth.</p>

            </div>
            
        </div>

</div>
-->










    <!-- <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"> -->
    <!-- <img src=".." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div> -->
    <!-- <div class="carousel-item">
                <img src=".." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div> -->
    <!-- <div class="carousel-item">
                <img src=".." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev"> -->
    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> -->


    <!-- <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"> -->

    <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> -->


    <!-- <div class="fil"> -->
    <div>

        <img src="../assets/VM.png" class="d-block w-100" alt="...">
        <img src="../assets/AN.png" class="d-block w-100" alt="...">
    </div>

    <div>
        <span class="wow">Testimonial</span>
    </div>


    <!-- <h2 class="wow fadeInDown"><span style="text-align: center;">Our Testimonial</span></h2> -->




    <!-- </div>
    data-wow-duration="1000ms" data-wow-delay="300ms"

    

    
    

    
    <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
    <div class="testimonial4_header">
        <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Our<span> Testimonial</span></h2>
        <div class="sed wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#testimonial4" data-slide-to="0" class=""></li>
        <li data-target="#testimonial4" data-slide-to="1" class=""></li>
        <li data-target="#testimonial4" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <div class="testimonial4_slide">
                <img src="https://assarvehicle.com/wp-content/uploads/2018/04/Abhishek-Chauhan.png"
                    class="img-circle img-responsive" alt="Car Rental Company" title="Cheap Self Drive Car Rental">
                    <p>Hi, a best option to enjoy holidays at outstation. Hired a Assar Vehicle on self-drive basis at
                        Indore. Could save time and money. The blocked amount was refunded within 4 days. Thanking for a
                        good service. I would say, it is a good option for non-freak drivers.</p>
                        <h4>Abhishek Sharma</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial4_slide">
                        <img src="https://assarvehicle.com/wp-content/uploads/2018/04/abhishek-chohan.jpg"
                    class="img-circle img-responsive" alt="Cheap Bike Rental" title="Car Booking In Indore">
                <p>Definitely a boon for people like me who can’t afford to own a car. It also will take you off the
                    hassle of parking a car and definitely a plus for city like Indore which is heavily saturated with
                    private vehicles on road and off road. A service like this should be promoted by government. It is
                    definitely a plus over hiring a cab and losing your privacy…..thumbs up to Assar Vehicle.</p>
                    <h4>Pranav Tripathi</h4>
                </div>
            </div>
            <div class="item active">
                <div class="testimonial4_slide">
                    <img src="https://assarvehicle.com/wp-content/uploads/2018/04/AbhishekChauhan.jpg"
                    class="img-circle img-responsive" alt="Car Booking In Indore" title="Cheap Bike Rental">
                <p>Had a wonderful experience with Assar Vehicle!! Took the Assar Vehicle all the way to Indore.</p>
                <h4>Vinay Chouhan</h4>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#testimonial4" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#testimonial4" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div> -->






    <!-- crousal -->






    <div class="container">



        <img src="../assets/AS.png" alt="Abhishek Sharma" style="width:90px">
        <p><span>Abhishek Sharma</span>Hi, a best option to enjoy holidays at outstation. Hired a Assar Vehicle on
            self-drive basis at Indore. Could save time and money. The blocked amount was refunded within 4 days.
            Thanking
            for a good service. I would say, it is a good option for non-freak drivers.</p>

    </div>


    <div class="container">
        <div>

            <img src="../assets/PT.jpg" alt="Avatar" style="width:90px">
            <p><span>Pranav Tripathi</span> Definitely a boon for people like me who can’t afford to own a car. It also
                will
                take you off the hassle of parking a car and definitely a plus for city like Indore which is heavily
                saturated
                with private vehicles on road and off road. A service like this should be promoted by government. It is
                definitely a plus over hiring a cab and losing your privacy…..thumbs up to Assar Vehicle..
            </p>

        </div>
    </div>

    <div class="container">
        <div>

            <img src="../assets/VC.jpg" alt="Avatar" style="width:90px">
            <p><span>Vinay Chouhan</span>Had a wonderful experience with Assar Vehicle!! Took the Assar Vehicle all the
                way
                to
                Indore..</p>


        </div>
    </div>