<!-- End Header -->

<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <span class="form_heading_title">
                                    <h4 class="mt-5">ID And Documents</h4>
                                </span>
                                <div class="documents">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row d-flex align-items-center text-center">
                                                <div class="col-lg-6">
                                                    <div class="proof_id">
                                                        <div class="proff_blue"></div>
                                                        <div class="proof_icon_adhar">
                                                            <span><img src="assets/img/identity-card.svg"></span>
                                                            <h6>Adhar card Front</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="proof_id">
                                                        <div class="proff_blue"></div>
                                                        <div class="proof_icon_adhar">
                                                            <span><img src="assets/img/identity-card.svg"></span>
                                                            <h6>Adhar card Back</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-lg-12">
                                                    <div class="proof_id">
                                                        <div class="proff_blue"></div>
                                                        <div class="proof_icon_adhar">
                                                            <span><img src="assets/img/camera.svg"></span>
                                                            <h6>Selfie</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="row d-flex align-items-center text-center">
                                                <div class="col-lg-6">
                                                    <div class="proof_id">
                                                        <div class="proff_blue"></div>
                                                        <div class="proof_icon_adhar">
                                                            <span><img src="assets/img/identification-card.svg"></span>
                                                            <h6>Driving Licence <br /> Front</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="proof_id">
                                                        <div class="proff_blue"></div>
                                                        <div class="proof_icon_adhar">
                                                            <span><img src="assets/img/identification-card.svg"></span>
                                                            <h6>Driving Licence <br /> Back</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-4">
                                            <span class="d-flex align-items-center justify-content-center">
                                                <button class="btn btn-primary form_btn" type="submit">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->