<main id="main">
    <!-- ======= Hero Section ======= -->
    <section>
    </section>

    <section class="bill_invoice_sec">
        <div class="container">


            <div class="total_invoice_bill">
                <div class="hatchback_car vicle_detail_side">
                    <img src="assets/img/choose_1.png" alt="" class="img-fluid">
                    <h6>Hatchback-Car</h6>
                    <h5 class="text_verti">Segment</h5>
                </div>
                <div class="row">
                    <div class="col-lg-9 mx-auto pt-4 pb-4">
                        <div class="invoice_total">
                            <span class="text-center bill_top_h">
                                <h4>Maruti Suzuki Alto K10</h4>
                                <h6>Vehicle No. - MP 09 CP 3186</h6>
                            </span>
                            <div class="mx-auto text-center"><img src="assets/img/kisspng-suzuki.png"></div>
                            <span class="text-center indore_h thanku_b">
                                <h3>Thank You For The Booking Vehicle</h3>
                            </span>
                            <div class="city_indore">
                                <h3>City</h3>
                                <h5>Indore</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="pick_up">
                                        <span>
                                            <h3>Pick-up Locations</h3>
                                            <h6>Lorem Ipsum is simply dummy text of the</h6>
                                        </span>

                                        <span class="pt-4 d-block dateatime">
                                            <h5>Date and Time</h5>
                                            <h6>12:30 PM</h6>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="pick_up">
                                        <span>
                                            <h3>Drop-up Locations</h3>
                                            <h6>Lorem Ipsum is simply dummy text of the</h6>
                                        </span>
                                        <span class="pt-4 d-block dateatime">
                                            <h5>Date and Time</h5>
                                            <h6>12:30 PM</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span
                                class="detail_customer thanku_heading_map  d-flex justify-content-between align-items-center text-center">
                                <span>
                                    <h4>Name</h4>
                                    <h6>Lorem Ipsum is</h6>
                                </span>
                                <span>
                                    <h4>Booking ID</h4>
                                    <h6>Lorem Ipsum is</h6>
                                </span>
                                <span>
                                    <h4>Order ID</h4>
                                    <h6>Lorem Ipsum is</h6>
                                </span>
                            </span>
                            <div class="map">
                                <h3>Pick-up Locations In Map</h3>
                                <div style="width: 100%">
                                    <iframe width="99.99%" height="400" frameborder="0" scrolling="no" marginheight="0"
                                        marginwidth="0"
                                        src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=indore%20+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                </div>
                                <span class="d-flex align-items-center justify-content-between map_resistance">
                                    <h6>For The Resistance With Any Query <span><i class="icofont-long-arrow-right"></i>
                                        </span> </h6>
                                    <h6><span> <i class="icofont-phone-circle"></i> </span> +91 910-910-1851
                                        -0731-3564526</h6>
                                </span>
                                <span class="d-flex align-items-center justify-content-end">
                                    <button class="btn btn-primary map_btn ml-auto" type="submit">Back to home</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<!-- End #main -->