<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="category-sec" class="category_sec">
    </section>

    <div class="container">
        <div class="book_title text-center">
            <h1>Car Category</h1>
            <h4>From a range of categories and prices</h4>
        </div>
        <div class="catergory_choose">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item border_right_b">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <span><img src="assets/img/choose_1.png" alt="" class="img-fluid"></span><br />
                        <span>Hatchback-Car</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <span><img src="assets/img/svg-image-i20.png" alt="" class="img-fluid"></span><br />
                        <span>Premium-Hatch</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <span><img src="assets/img/sedan-car.png" alt="" class="img-fluid"></span> <br />
                        <span>Sedan-car</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-compact-suv-tab" data-toggle="pill" href="#pills-compact-suv"
                        role="tab" aria-controls="pills-compact-suv" aria-selected="false">
                        <span><img src="assets/img/compact-suv.png" alt="" class="img-fluid"></span><br />
                        <span>Compact-SUV</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-suv-tab" data-toggle="pill" href="#pills-suv" role="tab"
                        aria-controls="pills-suv" aria-selected="false">
                        <span><img src="assets/img/suv-car.png" alt="" class="img-fluid"></span><br />
                        <span>SUV</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-muv-tab" data-toggle="pill" href="#pills-muv" role="tab"
                        aria-controls="pills-muv" aria-selected="false">
                        <span><img src="assets/img/marazzo.png" alt="" class="img-fluid"></span><br />
                        <span>MUV</span></a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="select_car">
                    <div class="hatchback_car mx-auto">
                        <img src="assets/img/choose_1.png" alt="" class="img-fluid">
                        <h6>Hatchback-Car</h6>
                    </div>
                    <div class="form_all mt-5">
                        <form class="">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 mb-5">
                                    <div class="input-group">
                                        <input type="search" class="form-control" id="ecl"
                                            placeholder="Enter city location" aria-describedby="" required="">
                                        <span class="icon_form_add"><i
                                                class='bx bx-current-location bx-burst'></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="pul" placeholder="Pick-up Locations"
                                            aria-describedby="" required="">
                                        <span class="icon_form_add"><i class="icofont-location-arrow"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="date" placeholder="Pick-up Date"
                                            aria-describedby="" required="">
                                        <!-- <span class="icon_form_add"><i class="bx bxs-lock-alt"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="date" placeholder="Drop-up Date"
                                            aria-describedby="" required="">
                                        <!-- <span class="icon_form_add"><i class="bx bxs-lock-alt"></i></span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="dl" placeholder="Drop-up Locations"
                                            aria-describedby="" required="">
                                        <span class="icon_form_add"><i class="icofont-location-arrow"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">
                                        <input type="time" class="form-control" id="time" placeholder="Pick-up Time"
                                            aria-describedby="" required="">
                                        <!-- <span class="icon_form_add"><i class="bx bxs-lock-alt"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">
                                        <input type="time" class="form-control" id="time" placeholder="Drop-up Time"
                                            aria-describedby="" required="">
                                        <!-- <span class="icon_form_add"><i class="bx bxs-lock-alt"></i></span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 check_signup d-flex align-items-center justify-content-start">
                                    <div class="form-group mb-0">
                                        <input type="checkbox" id="html">
                                        <label for="html" class="mb-0">I agree with the terms and conditions</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary form_btn" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
            <div class="tab-pane fade" id="pills-compact-suv" role="tabpanel" aria-labelledby="pills-compact-suv-tab">4
            </div>
            <div class="tab-pane fade" id="pills-suv" role="tabpanel" aria-labelledby="pills-suv-tab">5</div>
            <div class="tab-pane fade" id="pills-muv" role="tabpanel" aria-labelledby="pills-muv-tab">6</div>
        </div>
    </div>

    <section class="testimonials_choose">
        <div class="container-fluid">
            <div class="book_title text-center">
                <h1>Choose Your Vehicle</h1>
                <h4>From a range of categories and prices</h4>
            </div>
            <div class="row">
                <div id="custumor" class="customers-testimonials-choose owl-carousel pump_carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="" class="customers-testimonials-choose owl-carousel pump_carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle img-fluid" src="assets/img/kisspng-suzuki.png" alt="" />
                            <div class="rate d-flex justify-content-between align-items-center">
                                <span class="text-left">
                                    <span>
                                        <h5>Maruti Suzuki</h5>
                                    </span>
                                    <span>
                                        <h5><b>Alto K10</b></h5>
                                    </span>
                                </span>
                                <span class="text-left">
                                    <span>
                                        <h5>Rate: Rs.68/<b>Hr</b></h5>
                                    </span>
                                    <span>
                                        <h5>Rate: Rs.1500/<b>Day</b></h5>
                                    </span>
                                </span>
                            </div>
                            <span class="pump d-flex align-items-center justify-content-between text-center">
                                <span>
                                    <img src="assets/img/transmition-m.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                                <span>
                                    <img src="assets/img/seat.svg" class="img-fluid">
                                    <h6>4 Seat</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuels.svg" class="img-fluid">
                                    <h6>Petrol</h6>
                                </span>
                                <span>
                                    <img src="assets/img/luggage.svg" class="img-fluid">
                                    <h6>Luggage</h6>
                                </span>
                                <span>
                                    <img src="assets/img/fuel.svg" class="img-fluid">
                                    <h6>5 Transmission</h6>
                                </span>
                            </span>
                            <span class="d-flex align-items-center justify-content-between">
                                <span class="metar">
                                    <h5>400/km</h5>
                                    <h6>Unlimited</h6>
                                </span>
                                <span>
                                    <button class="btn btn-primary form_btn book_now" type="submit">Book Now</button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->