<app-index></app-index>
<app-header></app-header>
<!-- <app-about-us></app-about-us> -->
<!-- <app-franchise></app-franchise> -->
<!-- <app-driving-with-assar></app-driving-with-assar> -->
<router-outlet></router-outlet>
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-index-front></app-index-front> -->
<!-- <app-home></app-home> -->
<!-- <app-index-front></app-index-front> -->
<!-- <app-billpay></app-billpay> -->
<!-- <app-document></app-document> -->
<!-- <app-forgot-otp></app-forgot-otp> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-profile></app-profile> -->
<!-- <app-profile-chnage-gender></app-profile-chnage-gender> -->
<!-- <app-reload></app-reload> -->
<!-- <app-thanku-booking></app-thanku-booking> -->
<!-- <app-tripdetail></app-tripdetail> -->
<!-- <app-vehicle-category></app-vehicle-category> -->
<!-- <app-vehicle-choose></app-vehicle-choose> -->
<app-footer></app-footer>