<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <div class="wait_pls">
                                    <h4>Please Wait Some Time For Update Your Document</h4>
                                    <span><i class='bx bx-rotate-right'></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->