 #topbar {
    background: #990066;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    text-decoration: underline;
}

#topbar .contact-info i {
    padding-right: 4px;
    margin-left: 15px;
}

#topbar .contact-info i:first-child {
    margin-left: 0;
}

#topbar .social-links a {
    color: #fff;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #ffffffe0;
}

#header {
    background: #000066;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled {
    top: 0;
    padding: 15px;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Rubik", sans-serif;
}

#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #106eea;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header {
        padding: 15px;
        top: 0;
    }
    #header .logo {
        font-size: 28px;
    }
} 


.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.icofont-envelope:before {
    content: "\ef14";
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.icofont-phone:before {
    content: "\efbb";
}

*, ::after, ::before {
    box-sizing: border-box;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: "Rubik", sans-serif;
    color: #444444;
}

.bx-user-circle:before {
    content: "\ec26";
}