<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <span class="form_heading_title">
                                    <h4>Forgot Password</h4>
                                </span>
                                <div class="form_all">
                                    <form class="">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="fpw"
                                                        placeholder="Password" aria-describedby="" required>
                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="rpw"
                                                        placeholder="Conform Password" aria-describedby="" required>
                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mt-3">
                                                <span class="d-flex align-items-center justify-content-center">
                                                    <button class="btn btn-primary form_btn"
                                                        type="submit">Submit</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->