<main id="main">
    <!-- ======= Hero Section ======= -->
    <section class="profile_bg_sec ">
    </section>

    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="profile_amanda">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div class="imagePreview">
                                </div>
                            </div>
                        </div>
                        <div class="detail_name text-center">
                            <h4>Amanda</h4>
                            <h6>amanda4455@gmail.com</h6>
                            <h6>+91 889 889 8899</h6>
                            <div class="logout_btn">
                                <a href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_help">
                        <ul>
                            <li><a href="#"><img src="assets/img/headphones.svg" class="img-fluid"> Support </a></li>
                            <li><a href="#"><img src="assets/img/headphones.svg" class="img-fluid"> Assar Pass </a></li>
                            <li><a href="#"><img src="assets/img/headphones.svg" class="img-fluid"> About </a></li>
                            <li><a href="#"><img src="assets/img/headphones.svg" class="img-fluid"> Refer & Earn </a>
                            </li>
                            <li><a href="#"><img src="assets/img/headphones.svg" class="img-fluid"> Emergency Contact
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">

                    <div class="sub_contain">
                        <div class="h-ride">
                            <h1>Trip details</h1>
                        </div>

                        <div class="invoice_total invoice_trip">
                            <span class="text-center bill_top_h">
                                <h5>Ride details</h5>
                            </span>
                            <span class="indore_bopal d-flex align-items-center justify-content-between pt-4 ">
                                <h5 class="mb-0">Boarding point</h5>
                                <h5 class="mb-0">12:30 Thu, 2 jun</h5>
                            </span>
                            <div class="time_ride trip_detail_bill pb-4">
                                <h6 class="indore_bullet">Indraprastha Tower, Mahatma Gandhi Rd, Near Apollo Tower,
                                    South ...</h6>
                            </div>
                            <span class="text-right">
                                <h5>03h 30m</h5>
                            </span>
                            <span class="time_date d-flex align-items-center justify-content-between pt-4">
                                <h5 class="mb-0">Dropping point</h5>
                                <h5 class="mb-0">04:30 Thu, 2 jun</h5>
                            </span>
                            <div class="time_ride trip_detail_bill pb-4">
                                <h6 class="ujjain_bullet">Indraprastha Tower, Mahatma Gandhi Rd, Near Apollo Tower,
                                    South ...</h6>
                            </div>
                            <span class="detail_customer d-flex justify-content-between align-items-center text-center">
                                <span>
                                    <h6> <img src="assets/img/driver.svg" class="img-fluid" /> You rated <img
                                            src="assets/img/rate_star.png" class="img-fluid" /></h6>
                                </span>
                                <span>
                                    <h6> <img src="assets/img/speedometer.svg" class="img-fluid" /><i
                                            class='bx bx-rupee'></i> 410</h6>
                                </span>
                                <span>
                                    <h6><img src="assets/img/Hatchback-Car-i10.png" class="img-fluid" /> Marzzo</h6>
                                </span>
                            </span>
                            <div class="billl pt-4">
                                <span class="d-flex align-items-center justify-content-between">
                                    <span>
                                        <h4>Bill Details</h4>
                                        <h5>Base Fare</h5>
                                        <h5>Insurance</h5>
                                        <h5>GST</h5>
                                    </span>

                                    <span>
                                        <h5><i class='bx bx-rupee'></i> 382</h5>
                                        <h5><i class='bx bx-rupee'></i> 05</h5>
                                        <h5><i class='bx bx-rupee'></i> 23</h5>
                                    </span>
                                </span>
                                <span class="total_a d-flex justify-content-between align-items-center">
                                    <h5>Total Payable</h5>
                                    <h5><i class='bx bx-rupee'></i> 410</h5>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<!-- End #main -->