<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">

            <div class="col-lg-7">
                <h1>CHOOSE A CAR ON BUDGET</h1>
            </div>
        </div>
    </section>

    <section id="choose-car" class="choose_car">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="choose_car_icon">

                        <span class="icon"><img src="assets/img/self-drive.svg" class="img-fluid" /></span>
                        <h5>Self drive</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="choose_car_icon">
                        <span class="icon"><img src="assets/img/taxi-white.svg" class="img-fluid" /></span>
                        <h5>Taxi</h5>
                    </div>
                </div>

                <!-- <div class="choose_car_iconn"> -->




                <div class="col-lg-2">

                    <div class="choose_car_iconn">

                        <div class="choose_car_icon">
                            <div>

                                <span class="icon"><img src="assets/img/m-icon.svg" class="img-fluid" /></span>

                            </div>
                            <h5>Cab</h5>
                        </div>
                    </div>


                </div>



                <div class="col-lg-2">
                    <div class="choose_car_iconn">

                        <div class="choose_car_icon">
                            <span class="icon"><img src="assets/img/corporate-icon.svg" class="img-fluid" /></span>
                            <h5>Corporate</h5>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="choose_car_iconn">

                        <div class="choose_car_icon">
                            <span class="icon"><img src="assets/img/events.svg" class="img-fluid" /></span>
                            <h5>Events</h5>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="choose_car_iconn">

                        <div class="choose_car_icon">
                            <span class="icon"><img src="assets/img/truck.svg" class="img-fluid" /></span>
                            <h5>Transport</h5>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
    <!-- End Hero -->

    <!-- ======= About Section ======= -->

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                    <img src="assets/img/alto-pan-2.png" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>Are You Ready?</h3>
                    <p>
                        We, Assar Vehicle, situated at Indore, Madhya Pradesh, have a profound understanding of our
                        consumers travel needs and preferences. We aim to offer individuals as well as corporate a wide
                        range of cars on
                        hire. We have well maintained & luxurious cars which help to make your travel comfortable and
                        pleasing. We are passionate & professional at the same time which help us deliver outstanding
                        services to our
                        clients. Get in touch with us to get the best travel solution.
                    </p>
                    <button type="button" class="btn btn-primary read_more">Read More <i
                            class="icofont-simple-right"></i> </button>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <section id="ready-car-drive" class="ready_drive_car">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ready_car d-flex">
                        <span><img src="assets/img/car-blue.svg" alt="" /></span>
                        <span>
                            <h5>38 +</h5>
                            <h6>Vehicle models to choose from</h6>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ready_car d-flex">
                        <span><img src="assets/img/drive-blue.svg" alt="" /></span>
                        <span>
                            <h5>Self Drive / With Driver</h5>
                            <h6>No branding on self-drive vehicle.</h6>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ready_car d-flex">
                        <span><img src="assets/img/map-blue.svg" alt="" /></span>
                        <span>
                            <h5>Map</h5>
                            <h6>Get vehicle from 6 various locations.</h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="avilable-here" class="avilable_here">
        <div class="container">
            <div class="avilable_title">
                <h1>We Are Available Here</h1>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="indore_avilable">
                        <img src="assets/img/indore.png" class="img-fluid" />
                        <h3>INDORE</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="bhopal_avilable">
                        <img src="assets/img/bhopal.png" class="img-fluid" />
                        <h3>BHOPAL</h3>
                    </div>
                    <div class="gwalior_avilable">
                        <img src="assets/img/gwalior.png" class="img-fluid" />
                        <h3>GWALIOR</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials-one">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="customers-testimonials" class="owl-carousel">
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-responsive" src="assets/img/slide_one.png" alt="" />
                                <div class="item-details">
                                    <h5>Vehicle for Every Pocket</h5>
                                    <p>We have you covered for all your needs to Choose
                                        from our range of Two Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to
                                        suit every pocket</p>
                                    <a href="#">Read More <i class="icofont-simple-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-responsive" src="assets/img/slide_two.png" alt="" />
                                <div class="item-details">
                                    <h5>Secure and Safe Rides</h5>
                                    <p>We have you covered for all your needs to Choose
                                        from our range of Two Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to
                                        suit every pocket</p>
                                    <a href="#">Read More <i class="icofont-simple-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <!--END OF TESTIMONIAL 2 -->
                        <!--TESTIMONIAL 3 -->
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-responsive" src="assets/img/slide_three.png" alt="" />
                                <div class="item-details">
                                    <h5>Car Rental For Self Driven</h5>
                                    <p>We have you covered for all your needs to Choose
                                        from our range of Two Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to
                                        suit every pocket</p>
                                    <a href="#">Read More <i class="icofont-simple-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <!--END OF TESTIMONIAL 3 -->
                        <!--TESTIMONIAL 4 -->
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-responsive" src="assets/img/slide_one.png" alt="" />
                                <div class="item-details">
                                    <h5>Car Rental For Self Driven</h5>
                                    <p>We have you covered for all your needs to Choose
                                        from our range of Two Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to
                                        suit every pocket</p>
                                    <a href="#">Read More <i class="icofont-simple-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <!--END OF TESTIMONIAL 4 -->
                        <!--TESTIMONIAL 5 -->
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-responsive" src="assets/img/slide_two.png" alt="" />
                                <div class="item-details">
                                    <h5>Secure and Safe Rides</h5>
                                    <p>We have you covered for all your needs to Choose
                                        from our range of Two Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to
                                        suit every pocket</p>
                                    <a href="#">Read More <i class="icofont-simple-right"></i> </a>
                                </div>
                            </div>
                        </div>
                        <!--END OF TESTIMONIAL 5 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF TESTIMONIALS -->

    <section id="services" class="service_sec">
        <div class="container">
            <div class="ser_sec">
                <div class="img_sec">
                    <a href="#">
                        <span><img src="assets/img/service-1.png" class="img-fluid" /></span>
                    </a>
                    <h5>Best Price Guarantee</h5>
                </div>

                <div class="img_sec">
                    <a href="#">
                        <span><img src="assets/img/service-2.png" class="img-fluid" /></span>
                    </a>
                    <h5>24/7 <br /> Customer Care</h5>
                </div>

                <div class="img_sec">
                    <a href="#">
                        <span><img src="assets/img/service-3.png" class="img-fluid" /></span>
                    </a>
                    <h5>Assar Secure (call in lady traveler)</h5>
                </div>

                <div class="img_sec">
                    <a href="#">
                        <span><img src="assets/img/service-4.png" class="img-fluid" /></span>
                    </a>
                    <h5>Excellent Car Hire Discounts</h5>
                </div>

                <div class="img_sec">
                    <a href="#">
                        <span><img src="assets/img/service-5.png" class="img-fluid" /></span>
                    </a>
                    <h5>Customer Satisfaction</h5>
                </div>
            </div>
        </div>
    </section>

    <section id="local-vocal" class="vocal_local">
        <div class="container">
            <div class="col-lg-10 col-md-12 col-sm-12 mx-auto">
                <h4>Vocal For Local #atmanirbharat</h4>
                <p>
                    The main objective of this sector is to develop and promote tourism, maintain competitiveness of
                    India as tourist destination and improve and expand existing tourism products to ensure employment
                    generation and
                    economic growth.
                </p>
            </div>
        </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <div class="container">
        <div class="avilable_title pt-5">
            <h1>Customer feedback</h1>
        </div>
    </div>
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                        malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                        culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="app-mobile" class="mobile_app_book">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
                    <span>
                        <h3>Book an assar from the App</h3>
                        <h6>Download the app for exclusive deals and ease of booking</h6>
                        <a href="#"><img src="assets/img/play-store.png" class="pt-4 pb-3" /></a>
                        <a href="#"><img src="assets/img/apple-ply-store.png" class="pt-4 pb-3" /></a>
                    </span>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-end">
                    <span><img src="assets/img/app_mobile.png" class="img-fluid" /></span>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="avilable_title">
                <h1>As seen on/Media centre</h1>
            </div>
            <div class="press">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex align-items-center">
                        <span><img src="assets/img/free-press-icon.png" class="img-fluid" /></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex align-items-center">
                        <span><img src="assets/img/bhaskar-logo.png" class="img-fluid" /></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex align-items-center">
                        <span><img src="assets/img/agniban.png" class="img-fluid" /></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->